body,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Open Sans", sans-serif !important;
}
* {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#header {
  background-image: url(../images/header-bg.jpg);
  background-position: center bottom;
  padding-bottom: 20px;
  padding-top: 26px;
  border-bottom: 1px solid #0d3743;
  float: left;
  width: 100%;
}
.navbar-default {
  background: transparent;
  border: none;
  margin-top: 20px;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  padding: 10px 12px !important;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar-nav {
  float: right;
}

#footer {
  background-image: url(../images/web-design-introbg.jpg);
  background-color: #09333d;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: center top;
  color: #d0dfe6;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  padding-top: 35px;
  padding-bottom: 40px;
  border-bottom: 1px solid #054658;
  float: left;
  width: 100%;
}
#footer h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300 !important;
  letter-spacing: -1px;
  border-bottom: 1px solid #011014;
  padding-bottom: 18px;
  margin-bottom: 0;
}
#footer a {
  color: #d0dfe6;
  text-decoration: none;
}
.footer_list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
#footer a:hover {
  color: #bca030;
  text-decoration: none;
}

.footer_list li {
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #011014;
}
.footer_list li a {
  font-size: 12px;
  opacity: 0.8;
}
.footer_list li a:hover {
  opacity: 1 !important;
}
.footer-col {
  padding-right: 20px;
}
.social_list {
  padding-left: 0;
  margin-left: 0;
  margin-top: 20px;
}
.social_list li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2px;
}
.social_list li a {
  color: #fff !important;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  padding-top: 3px;
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  opacity: 1 !important;
}
.social_list li a:hover {
  color: #fff !important;
  transform: translateY(-5px) !important;
}
.fb {
  background: #3b5998;
}
.tw {
  background: #1da1f2;
}
.rss {
  background: #ef8647;
}
#sub_footer {
  background-color: #05161a;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center top;
  color: #054658;
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #538894 !important;
  float: left;
  width: 100%;
}
#sub_footer a {
  color: #054658;
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  opacity: 1 !important;
  color: #538894 !important;
}
#sub_footer a:hover {
  text-decoration: none;
}
#sec-1 {
  width: 100%;
  background: url(../images/main-bg.jpg) no-repeat;
  background-position: top left;
  background-repeat-y: repeat;
  background-size:cover;
  float: left;
}
.sidebar {
  margin-top: 50px;
}
.sidebar h4 {
  color: #000000 !important;
  font-size: 22px !important;
  font-weight: 300 !important;
  line-height: 30px !important;
}
.sidebar img {
  box-shadow: 1px 1px 1px #fff;
}
.steelblue_sprite,
.steelblue_numbers li:before {
  background-image: url(../images/custom_sprite_788794.png) !important;
}
blockquote {
  word-spacing: 1px;
  font-weight: 300;
  font-size: 14px;
  margin: 20px 0;
  padding: 5px 5px 5px 45px;
  color: #000000 !important;
  font-family: "Cabin", sans-serif;
  border-left: none;
  background: url(images/shortcodes/sprites/custom_sprite_dddddd.png) no-repeat
    0 -619px;
}
cite {
  font-size: 10px;
  color: #aaa;
}
.payment_btn {
  margin: 10px 0;
}
.sidebar a {
  text-align: center;
  width: 100%;
  display: block;
  color: #d49b0b;
  text-decoration: none;
  font-size: 12px;
}
.main {
  float: left;
  width: 100%;
  margin-top: 50px;
}
.main h2 {
  font-size: 28px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 30px;
}
.main p {
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  float: left;
}
.main img {
  float: left;
}
.select-box {
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.icon-box {
  float: left;
  -webkit-background: linear-gradient(-45deg, #1a5768, #144a59);
  -moz-background: linear-gradient(-45deg, #1a5768, #144a59);
  -ms-background: linear-gradient(-45deg, #1a5768, #144a59);
  -o-background: linear-gradient(-45deg, #1a5768, #144a59);
  background: linear-gradient(-45deg, #1a5768, #144a59);
  padding: 15px 0;
  border-radius: 8px;
  height: 130px;
  width: 130px;
  cursor: pointer;
}
.icon-box:hover {
  -webkit-background: linear-gradient(-45deg, #36cad0, #3ad0d6);
  -moz-background: linear-gradient(-45deg, #36cad0, #3ad0d6);
  -ms-background: linear-gradient(-45deg, #36cad0, #3ad0d6);
  -o-background: linear-gradient(-45deg, #36cad0, #3ad0d6);
  background: linear-gradient(-45deg, #36cad0, #3ad0d6);
  box-shadow: 1px 9px 13px 2px #dcd6d6;
}
.icon-box.active {
  -webkit-background: linear-gradient(-45deg, #36cad0, #3ad0d6);
  -moz-background: linear-gradient(-45deg, #36cad0, #3ad0d6);
  -ms-background: linear-gradient(-45deg, #36cad0, #3ad0d6);
  -o-background: linear-gradient(-45deg, #36cad0, #3ad0d6);
  background: linear-gradient(-45deg, #36cad0, #3ad0d6);
  position: relative;
  box-shadow: 1px 9px 13px 2px #dcd6d6;
}
.icon-box.active:before {
  content: "\f00c ";
  font-family: FontAwesome;
  position: absolute;
  top: -10px;
  left: -10px;
  background: #1a5768;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #fff;
  text-align: center;
  padding-top: 2px;
}
.icon-box img {
  margin: 0 !important;
  box-shadow: none !important;
  float: none !important;
}
.icon-box p {
  width: 100%;
  margin-top: 20px !important;
  color: #fff !important;
  text-transform: uppercase;
}
.mt-20 {
  margin-top: 20px;
}
.main input[type="number"],
.main input[type="text"] {
  background: rgba(255, 255, 255, 0.67);
  border: none;
  outline: none;
  padding: 12px;
  width: 220px;
  border-radius: 25px;
}
.row8 {
  background: rgba(255, 255, 255, 0.67);
  border: none;
  outline: none;
  padding: 12px;
  width: 220px;
  border-radius: 25px;
}

.in_img {
  margin-left: 10px !important;
  margin-top: 0 !important;
  float: none !important;
}
.submit {
  background: #909090;
  color: #fff;
  border-radius: 7px;
  text-transform: uppercase;
  padding: 12px 15px 12px 25px;
  font-weight: 700;
  box-shadow: 1px 9px 13px 2px #dcd6d6;
  outline: none;
  border: none;
}
.submit span {
  background: #fff;
  padding-top: 1px;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #909090;
  margin-left: 10px;
}
.submit:hover {
  background: #0a272f;
}
.popup_border {
  padding: 5px;
  border: 3px solid #08232a;
  border-radius: 7px;
  float: left;
  width: 600px;
}
.popup {
  background: #08232a;
  color: #fff;
  font-size: 18px;
  border-radius: 7px;
  padding: 15px 0 25px 0;
  width: 100%;
}
.popup button {
  float: right;
  outline: none;
  border: none;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background: #10404c;
  color: #fff !important;
}
.popup img {
  margin-bottom: 20px;
}
.popup p {
  font-weight: 300 !important;
}
.main_popup {
  position: fixed;
  padding: 100px 28%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.74);
}
.lg-hide {
  display: none;
}

.wrap {
    width: 800px;
    margin: 0 auto;
    align-content: center;
    /* color: white; */
  }
.stickyWrap {
    width:100%;
    height:50px;
  }
  
  .stickyBar {
    width:100%;
    height:50px;
    padding: 5px 0;
    background: black;
    color: white;
    position: relative;
  }
  
  .stickyIsFixed {
    position: fixed;
    top: 0;
    left: 0;
  }
