@media only screen and (min-width : 800px) and (max-width : 1600px){
	.container{
		width: 990px;
	}
	.pl-0{
		padding-left: 0;
	}
	.pr-0{
		padding-right: 0;
	}
	.sidebar{
		padding-left: 20px;
	}
	.main p {
		margin-top: 25px;
    }
    .main img{
		margin-top: 35px;
		margin-left: 20px;
		box-shadow: 1px 1px 1px #fff;
	}
	.mb-150{
		margin-bottom: 120px;
	}

}	
@media only screen and (min-width : 320px) and (max-width : 879px){
	h1, h2, h3, h4, h5, h6{
		font-family: 'Noto Serif', serif !important;
	}
	.xs-hide{
		display: none;
	}
	#footer{
			background-size: cover;
	}
	#header{
		background-size: cover;
		padding-bottom: 0;
	}
	.icon-box{
		width: 100%;
		margin-top: 15px;
	}
	.select-box .col-xs-6{
		padding-left: 10px;
		padding-right: 10px;
	}
	.select-box{
		padding: 0 15px;
		margin-bottom: 0;
		margin-top: 10px;
	}
	.navbar-default{
		margin-top: 0;
	}
	.navbar-default .navbar-toggle {
	    border-color: transparent !important;
	    background: transparent !important;
	}
	.navbar-toggle .icon-bar{
		height: 4px;
	}
	.navbar-toggle{
		margin-right: 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
    	background-color: #ffb302;
	}
	.navbar-nav{
		float: left;
	}
	.logo_responsive{
		position: absolute;
	}
	.navbar-header{
		margin-bottom: 20px;
	}
	.main{
		margin-top: 20px;
	}

	.main h2{
		text-align: center;
		margin-bottom: 5px;
	}
	.main p{
		float: none;
		text-align: center;
	}
	.sidebar {
    	margin-top: 30px;
    	text-align: center;
	}
	.sidebar:last-child{
		padding-bottom: 30px;
	}
	.sidebar h4{
		font-weight: 500 !important;
	}
	.popup_border{
		width: 100%;
	}
	.main_popup{
		padding: 100px 10px;
	}
	#main_form {
	    display: block;
	    float: left;
	    margin: 30px 0;
	}
	.popup .col-md-12{
		width: 100%;
	}
	.lg-hide{
		display: block;
	}
}