<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/custom.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
    </head>
    <body>
    	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-8 logo_responsive">
					<a href="index.php"><img src="{{ asset('assets/images/the-islamica-logo.png') }}" class="img-responsive"></a>
				</div>
				<div class="col-md-8 col-xs-12 pr-0">
					<nav class="navbar navbar-default">
				      <div class="navbar-header">
				          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				            <span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				          </button>
				        </div>
				        <div id="navbar" class="collapse navbar-collapse">
				          <ul class="nav navbar-nav">
				            <li><a href="index.php">Home</a></li>
				            <li><a href="javscript:;">Explore</a></li>
				            <li><a href="javscript:;">Donate</a></li>
				            <li><a href="javscript:;">About</a></li>
				            <li><a href="javscript:;">Contact Us</a></li>
				          </ul>
				        </div><!--/.nav-collapse -->
				    </nav>
				</div>	
			</div>		
		</div>
	</header>
	
        {% block body %}{% endblock %}
		{% block content %}{% endblock %}
        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script async src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="https://use.fontawesome.com/b9a6f793cc.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
