{% extends "::base2.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container">
<div class="col-md-12 col-xs-12">
<form class="form-horizontal" method="POST" enctype="multipart/form-data" action="{{ path('fos_user_security_login') }}">
<fieldset>

<!-- Form Name -->
<legend>User Login</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="u_name">Username</label>  
  <div class="col-md-4">
  <input id="u_name" name="u_name" placeholder="Enter Username" class="form-control input-md" required value="" type="text">
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pwd">Password</label>
  <div class="col-md-4">
    <input id="psw" name="pwd" placeholder="Enter Password" class="form-control input-md" required type="password" value="">
    <p class="text-danger"></p>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-block btn-primary btn-primary"><span class="glyphicon glyphicon-send"></span> Submit</button>
  </div>
</div>
<div class="form-group">
  <div class="col-md-4">
      <p class="text-danger">
      {% if error %}
        {{ error }}
        {% endif %}
      </p> 
  </div>
</div>
</fieldset>
</form>
</div>
</div>
{% endblock %}
