{% extends "::base2.html.twig" %}

{% block title %}Login{% endblock %}


{% block body %}
<div class="container">
<div class="col-md-12 col-xs-12">
{{ form_start(form, {'attr': {'novalidate': 'novalidate','class':'form-horizontal'}}) }}
<legend>User Login</legend>
<fieldset>
<div class="form-group">
        {{ form_label(form.username,null, { 'label_attr': { 'class': 'col-md-4 control-label' } }) }}
        <div class="col-md-4">
            {{ form_widget(form.username, { 'attr': { 'class': 'form-control input-md' } }) }}
            {{ form_errors(form.username,{'attr' : {'class':'text-danger'}}) }}
        </div>
    </div>
 <div class="form-group">
        {{ form_label(form.password,null, { 'label_attr': { 'class': 'col-md-4 control-label' } }) }}
        <div class="col-md-4">
            {{ form_widget(form.password, { 'attr': { 'class': 'form-control input-md' } }) }}
            {{ form_errors(form.password,{'attr' : {'class':'text-danger'}}) }}
        </div>
    </div>   
<div class="form-group">
        {{ form_label(form.save,null, { 'label_attr': { 'class': 'col-md-4 control-label' } }) }}
        <div class="col-md-offset-4 col-md-4">
            {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-block btn-primary' } }) }}
        </div>
    </div>
</fieldset>           
{{ form_end(form) }}
</div>
</div>
{% endblock %}
