<div class="container">
<div class="col-md-12 col-xs-12">
{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <fieldset>

    <!-- Form Name -->
    <legend>User Login</legend>
<div class="form-group">
    <label class="col-md-4 control-label" for="username">{{ 'security.login.username'|trans }}</label>
    <div class="col-md-4">
    <input type="text" class="form-control input-md" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
</div>
</div>
    <div class="form-group">
    <label class="col-md-4 control-label" for="password">{{ 'security.login.password'|trans }}</label>
    <div class="col-md-4">
    <input type="password" class="form-control input-md" id="password" name="_password" required="required" autocomplete="current-password" />
</div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    <div class="col-md-2">
        <input type="checkbox" class="form-control" id="remember_me" name="_remember_me" value="on" />
    </div>
    
</div>
<div class="form-group">
    <div class="col-md-offset-4 col-md-4">
    <input type="submit" class="btn btn-block btn-primary btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</div>
</div>
</fieldset>
</form>
</div>
</div>